<p>Moikka <%= @resource.etunimi %>!</p>

<p>Linkkiä salasanasi vaihtamiseksi on pyydetty. Onnistuu seuraavan linkin kautta:</p>

<p><%= link_to 'Vaiha salasanasi', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jollet pyytänyt linkkiä, voit poistaa tämän viestin. Salasanasi ei muutu, ellet käytä yllä olevaa linkkiä.</p>
