
<h2>sLerstikka</h2>

henkilö + oravannahat

lista pirtelöistä + arvot

taiat

notice: "Pirtelö vähennetty"


<% if user_signed_in? and current_user.hallituksessa == true %>

lista/valikko kaikista + juomavalikko → taikoja

<% end %>